@model Model.Pagos
@using (Ajax.BeginForm("SaveNURC", "NURCDG", new AjaxOptions()
{
    HttpMethod = "POST",
    UpdateTargetId = "resultado",
    InsertionMode = InsertionMode.Replace,
    OnBegin = "onBegin",
    OnComplete = "onComplete",
    OnSuccess = "onSuccess",
    OnFailure = "onFailure"


}))
{
    @Html.HiddenFor(x => x.Id_Pago)
    @Html.HiddenFor(x => x.Id_Empresa)
    @Html.HiddenFor(x => x.Id_Moneda)
    <h4 class="card-title">Autorizar N.U.R.C</h4>
    <div class="input-group">
        <span class="input-group-addon">
            <i class="material-icons">local_atm</i>
        </span>
        <div class="form-group">
            <label class="control-label" for="Id_Banco_Empresa">Banco</label>
            @Html.DropDownListFor(x => x.Id_Banco_Empresa, new SelectList(ViewBag.ListBancos, "Id", "Banco", Model.Id_Banco_Empresa), new { @class = "form-control" })
        </div>
    </div>
    <div class="input-group">
        <span class="input-group-addon">
            <i class="material-icons">code</i>
        </span>
        <div class="form-group">
            <label class="control-label" for="Id_Clabe_Empresa">No Clabe</label>
            @Html.DropDownListFor(x => x.Id_Clabe_Empresa, new SelectList(string.Empty, "Id", "CB", Model.Id_Clabe_Empresa), new { @class = "form-control" })
        </div>
    </div>
    <div class="input-group">
        <span class="input-group-addon">
            <i class="material-icons">payment</i>
        </span>
        <div class="form-group">
            <label class="control-label" for="Id_N_Cuenta_Empresa">No Cuenta</label>
            @Html.DropDownListFor(x => x.Id_N_Cuenta_Empresa, new SelectList(string.Empty, "Id", "NC", Model.Id_N_Cuenta_Empresa), new { @class = "form-control" })
        </div>
    </div>


    <button type="submit" class="btn btn-fill btn-rose" style="background:#159D93">Guardar</button>
}

<script type="text/javascript">
    $(document).ready(function () {
     var   Url = '@Url.Action("GetClabes")';
        $("#Id_Banco_Empresa").change(function () {
            $("#Id_Clabe_Empresa").empty();
            $("#Id_N_Cuenta_Empresa").empty();
            $.ajax({
                type: 'POST',
                url: Url,

                dataType: 'json',

                data: { id: $("#Id_Empresa").val(), idbanco: $("#Id_Banco_Empresa").val(), idmoneda: $("#Id_Moneda").val() },
                success: function (states) {

                    $.each(states, function (i, state) {


                        if (state.Value == -1) {
                            $("#Id_Clabe_Empresa").append('<option selected = "selected" value="' + state.Value + '">' +
                             state.Text + '</option>');


                        } else {
                            $("#Id_Clabe_Empresa").append('<option value="' + state.Value + '">' +
                                 state.Text + '</option>');
                        }


                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve .' + ex);
                }
            });
            Url = '@Url.Action("GetCuentas")';
            $.ajax({
                type: 'POST',
                url: Url,

                dataType: 'json',

                data: { id: $("#Id_Empresa").val(), idbanco: $("#Id_Banco_Empresa").val(), idmoneda: $("#Id_Moneda").val() },
                success: function (states) {

                    $.each(states, function (i, state) {


                        if (state.Value == -1) {
                            $("#Id_N_Cuenta_Empresa").append('<option selected = "selected" value="' + state.Value + '">' +
                             state.Text + '</option>');


                        } else {
                            $("#Id_N_Cuenta_Empresa").append('<option value="' + state.Value + '">' +
                                 state.Text + '</option>');
                        }


                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve .' + ex);
                }
            });
            return false;
        });
    })

</script>
