@model Model.Ca_Tipo_Servicio

@using (Ajax.BeginForm("Save", "TipoServicio", new AjaxOptions()
{
    HttpMethod = "POST",
    UpdateTargetId = "resultado",
    InsertionMode = InsertionMode.Replace,
    OnBegin = "onBegin",
    OnComplete = "onComplete",
    OnSuccess = "onSuccess",
    OnFailure = "onFailure"


}))
{
    @Html.HiddenFor(x => x.Id_tipo_servicio)
    <h4 class="card-title">Tipo de Servicio</h4>
    <div class="input-group">
        <span class="input-group-addon">
            <i class="material-icons">code</i>
        </span>
        <div class="form-group">

            @Html.TextBoxFor(x => x.CodigoServicio, new { @class = "form-control", @placeholder = "Código." })
            @Html.ValidationMessageFor(x => x.CodigoServicio, null, new { @class = "badge badge-danger" })

        </div>
    </div>
    <div class="input-group">
        <span class="input-group-addon">
            <i class="material-icons">local_shipping</i>
        </span>
        <div class="form-group">

            @Html.TextBoxFor(x => x.Tipo_Servicio, new { @class = "form-control", @placeholder = "Tipo de servicio." })
            @Html.ValidationMessageFor(x => x.Tipo_Servicio, null, new { @class = "badge badge-danger" })

        </div>
    </div>
    
        <div class="input-group">
            <span class="input-group-addon">
                <i class="material-icons">description</i>
            </span>
            <div class="form-group">

                @Html.TextAreaFor(x => x.Descripcion, new { @class = "form-control", @placeholder = "Descripción." })
                @Html.ValidationMessageFor(x => x.Descripcion, null, new { @class = "badge badge-danger" })

            </div>
        </div>
    <div class="input-group">
        <span class="input-group-addon">
            Activo:
        </span>
        <div class="form-group">

            <div class="togglebutton">
                <label>
                    @Html.CheckBoxFor(x => x.Activo)
                </label>
            </div>

        </div>
    </div>

    <button type="submit" class="btn btn-fill btn-rose">Guardar</button>
}

