@model List<Model.Ca_Tipo_Contrato>
@{
    ViewBag.Title = "LibTipoContrato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section Scripts{
    <script src="~/scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">

    $(document).ready(function() {
        $('#datatables').DataTable({
            "order":[[2,"asc"]],
            "pagingType": "full_numbers",
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "Todos"]
            ],
            responsive:false,
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Buscar ...",
                "paginate": {
                    "previous": "Anterior",
                    "next": "Siguiente",
                    "first": "Inicial",
                    "last": "Ultimo",

                },
                "lengthMenu": "Mostrando _MENU_ registros",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
            }

        });


        var table = $('#datatables').DataTable();


        $('.card .material-datatables label').addClass('form-group');




    });

    function llamarVistaParcial(v) {

        var laURLDeLaVista = '@Url.Action("EditTipoContrato", "TipoContrato")';
        $.ajax({
            cache: false,
            async: true,
            type: "GET",
            url: laURLDeLaVista,
            data: {id:v},
            success: function (response) {
                $('#resultado').html('');
                $('#resultado').html(response);
            }
        });
    }
        function PopupOnClosed() {

            $('#myModal').modal('hide');
            setTimeout(function () { window.location.href = '@Url.Action("LibTipoContrato", "TipoContrato")'; }, 400);

        }

        function onBegin(respuesta){
            console.log(respuesta + 'Bg');
        }
        function onSuccess(respuesta) {
            console.log(respuesta + 'Sc');
        }
        function onComplete(respuesta) {
            console.log(respuesta + 'Cm');
        }
        function onFailure(respuesta) {
            console.log(respuesta + 'Fl');
        }

    </script>
}

<div class="card">
    <div class="card-header card-header-icon" data-background-color="rose">
        <h4 class="card-title">
            <i class="material-icons">
                list
            </i>
            Tipo C.U.C.C
        </h4>
        <div class="toolbar"></div>

    </div>
    <div class="card-content table-responsive table-full-width material-datatables">
        <table id="datatables" class="table">
            <thead class="text-danger">
                <tr>
                    <th>#</th>
                    <th>No</th>
                    <th>Tipo</th>
                    <th>Activo</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-primary" style="width:10%;">

                            <a href="#" onclick="llamarVistaParcial(0)" class="btn btn-simple btn-success btn-icon new" data-toggle="modal" data-target="#myModal">
                                <i class="material-icons" rel="tooltip" data-placement="right" title="Agregar">add</i>
                            </a>
                            <a href="#" onclick="llamarVistaParcial(@item.Id_Tipo_Contrato)" class="btn btn-simple btn-warning btn-icon edit" data-toggle="modal" data-target="#myModal">
                                <i class="material-icons" rel="tooltip" data-placement="right" title="Modificar">create</i>

                            </a>
                        </td>
                        <td style="width:10%;">@(item.Id_Tipo_Contrato)</td>
                        <td style="text-wrap:normal;width:70%;">@(item.Tipo_Contrato)</td>

                        <td style="width:10%;">
                            <div class="togglebutton">
                                <label>

                                    @Html.CheckBoxFor(modelitem => item.Activo, new { Value = item.Activo, disabled = "disabled" })
                                </label>
                            </div>
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>


<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="card " role="dialog">
            <div class="card-header card-header-icon" data-background-color="rose">
                <i class="material-icons">local_library</i>
            </div>

            <div class="card-content" id="resultado">

            </div>

        </div>
    </div>
</div>

