@model List<Model.Ca_Rubros>

<div class="card">
    <div class="card-header card-header-icon" data-background-color="rose">
        <h4 class="card-title">
            <i class="material-icons">
                list
            </i>
            Rubros
        </h4>
        <div class="toolbar"></div>

    </div>
    <div class="card-content table-responsive table-full-width material-datatables">
        <table id="datatables" class="table">
            <thead class="text-danger">
                <tr>
                    <th>
                        <a href="#" onclick="llamarVistaParcial(0,@ViewBag.id)" class="btn btn-simple btn-success btn-icon new" data-toggle="modal" data-target="#myModal">
                            Nuevo
                        </a>
                    </th>
                    <th>No</th>
                    <th>Codigo</th>
                    <th>Rubro</th>
                    <th>Activo</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-primary">

                            <a href="#" onclick="llamarVistaParcial(0,@item.Id_Institucion)" class="btn btn-simple btn-success btn-icon new" data-toggle="modal" data-target="#myModal">
                                <i class="material-icons" rel="tooltip" data-placement="right" title="Agregar">add</i>
                            </a>
                            <a href="#" onclick="llamarVistaParcial(@item.Id_Rubro,@item.Id_Institucion)" class="btn btn-simple btn-warning btn-icon edit" data-toggle="modal" data-target="#myModal">
                                <i class="material-icons" rel="tooltip" data-placement="right" title="Modificar">create</i>

                            </a>
                        </td>
                        <td>@(item.Id_Rubro)</td>
                        <td>@(item.Codigo)</td>
                        <td>@(item.Rubro)</td>

                        <td>
                            <div class="togglebutton">
                                <label>

                                    @Html.CheckBoxFor(modelitem => item.Activo, new { Value = item.Activo, disabled = "disabled" })
                                </label>
                            </div>
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="card " role="dialog">
            <div class="card-header card-header-icon" data-background-color="rose">
                <i class="material-icons">create</i>
            </div>

            <div class="card-content" id="resultado">

            </div>

        </div>
    </div>
</div>



<script type="text/javascript">

        $(document).ready(function () {
            $('#datatables').DataTable({
                "order": [[2, "asc"]],
                "pagingType": "full_numbers",
                "lengthMenu": [
                    [10, 25, 50, -1],
                    [10, 25, 50, "Todos"]
                ],
                responsive: false,
                language: {
                    search: "_INPUT_",
                    searchPlaceholder: "Buscar ...",
                    "paginate": {
                        "previous": "Anterior",
                        "next": "Siguiente",
                        "first": "Inicial",
                        "last": "Ultimo",

                    },
                    "lengthMenu": "Mostrando _MENU_ registros",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                }

            });


            var table = $('#datatables').DataTable();


            $('.card .material-datatables label').addClass('form-group');




        });



</script>
