@model List<Model.spSelPagosAutoTesoreria_Result>
@{
    ViewBag.Title = "LibIngresos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
}

<div class="card">
    <div class="card-header card-header-icon" data-background-color="rose" style="background:#159D93">
        <i class="material-icons">list</i>

    </div>
    <div class="card-content">
        <h4 class="card-title">
            N.U.R.C.S
        </h4>
        <div class="toolbar">
            <!--        Here you can write extra buttons/actions for the toolbar              -->
        </div>
        <div class="material-datatables">

            <table id="datatables" class="table">
                <thead class="text-danger">
                    <tr>

                        <th style="width:120px;">
                            #
                        </th>
                       
                        <th style="width:100px;">N.U.R.C</th>
                        <th style="width:120px;">Fecha de alta</th>
                        <th style="width:100px;">Proyecto</th>
                        
                        <th style="width:120px;">Empresa</th>
                        <th style="width:120px;">Banco empresa</th>
                        <th style="width:120px;">N° cuenta empresa</th>
                        <th style="width:120px;">Clabe empresa</th>
                        <th style="width:120px;">Proveedor</th>
                        <th style="width:120px;">Banco proveedor</th>
                        <th style="width:120px;">N° cuenta proveedor</th>
                        <th style="width:120px;">Clabe proveedor</th>
                        <th style="width:100px;">Anticipo</th>
                        <th style="width:100px;">Importe</th>
                        <th style="width:100px;">I.V.A</th>
                        <th style="width:100px;">Rent. I.V.A</th>
                        <th style="width:100px;">I.S.R</th>
                        <th style="width:100px;">Otros</th>
                        <th style="width:100px;">Total</th>
                        <th style="width:100px;">Moneda</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr style=@(i == 1 ? "background-color:#f7f4fd;":"")>

                            <td class="text-primary">
                      
                                <a href=@Url.Action("Save", "ANIngresos", new { id = item.Id_Pago }) class="btn btn-simple btn-success btn-icon new">
                                    <i class="material-icons" rel="tooltip" data-placement="right" title="Autorizar">done</i>
                                </a>
                               
                                <a href="#" onclick="CancelN(@item.Id_Pago)" class="btn btn-simple btn-danger btn-icon remove" data-toggle="modal" data-target="#myModal">
                                    <i class="material-icons" rel="tooltip" data-placement="bottom" title="Cancelar">clear</i>
                                </a>
                            </td>

                            <td>
                                @item.Id_Pago
                            </td>
                        
                            <td>
                                @(item.F_Alta.HasValue ? item.F_Alta.Value.ToShortDateString() : "")
                            </td>
                            <td>
                                <div class="togglebutton">
                                    <label>

                                        @Html.CheckBoxFor(modelitem => item.Proyecto.Value, new { Value = item.Proyecto.HasValue ? item.Proyecto.Value : false, disabled = "disabled" })
                                    </label>
                                </div>
                            </td>
                        
                            <td>
                                @item.Razon_Social
                            </td>
                            <td>@item.Banco_Empresa</td>
                            <td>@item.Cuenta_empresa</td>
                            <td>@item.Clabe_Empresa</td>
                            <td>
                                @item.Proveedor
                            </td>
                            <td>@item.Banco</td>
                            <td>@item.N_Cuenta</td>
                            <td>@item.N_Clabe</td>
                            <td>
                                <div class="togglebutton">
                                    <label>

                                        @Html.CheckBoxFor(modelitem => item.Anticipo, new { Value = item.Anticipo, disabled = "disabled" })
                                    </label>
                                </div>
                            </td>
                            <td>
                                @item.Importe_Total.Value.ToString("C")
                            </td>
                            <td>
                                @item.Calculo_IVA.ToString("C")
                            </td>
                            <td>
                                @item.Retenciones.Value.ToString("C")
                            </td>
                            <td>
                                @item.ISR.Value.ToString("C")
                            </td>
                            <td>
                                @item.Otros.Value.ToString("C")
                            </td>
                            <td>
                                @item.Total.Value.ToString("C")
                            </td>
                            <td>
                                @item.Moneda
                            </td>
                        </tr>

                        if (i == 1)
                        {
                            i = 0;
                        }
                        else
                        {
                            i = 1;
                        }

                    }
                </tbody>
            </table>
        </div>
    </div>

</div>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="card " role="dialog">
            <div class="card-header card-header-icon" data-background-color="rose" style="background:#159D93">
                <i class="material-icons">check_circle</i>
            </div>

            <div class="card-content" id="resultado">

            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script src="~/scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">

    $(document).ready(function() {
        $('#datatables').DataTable({
            "order":[[3,"desc"]],
            "pagingType": "full_numbers",
            "scrollY": 550,
            "scrollX": true,
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "Todos"]
            ],
            responsive:false,
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Buscar ...",
                "paginate": {
                    "previous": "Anterior",
                    "next": "Siguiente",
                    "first": "Inicial",
                    "last": "Ultimo",

                },
                "lengthMenu": "Mostrando _MENU_ registros",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
            }

        });


        var table = $('#datatables').DataTable();


        $('.card .material-datatables label').addClass('form-group');


        


    });

   
    function CancelN(v) {

        var laURLDeLaVista = '@Url.Action("EditCancelar", "ANIngresos")';
        $.ajax({
            cache: false,
            async: true,
            type: "GET",
            url: laURLDeLaVista,
            data: { id: v },
            success: function (response) {
                $('#resultado').html('');
                $('#resultado').html(response);
            }
        });
    }
        function PopupOnClosed() {

            $('#myModal').modal('hide');
            setTimeout(function () { window.location.href = '@Url.Action("LibIngresos", "ANIngresos")'; }, 400);

        }

        function onBegin(respuesta){
            console.log(respuesta + 'Bg');
        }
        function onSuccess(respuesta) {
            console.log(respuesta + 'Sc');
        }
        function onComplete(respuesta) {
            console.log(respuesta + 'Cm');
        }
        function onFailure(respuesta) {
            console.log(respuesta + 'Fl');
        }

    </script>
}
