@model List<Model.V_Proyectos>
@{
    ViewBag.Title = "LibProyectos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal total = 0;

}
@section Scripts{
    <script src="~/scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/scripts/Chart.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#datatables').DataTable({
                "order": [[2, "asc"]],
                "pagingType": "full_numbers",
                "lengthMenu": [
                    [10, 25, 50, -1],
                    [10, 25, 50, "Todos"]
                ],
                responsive: false,
                language: {
                    search: "_INPUT_",
                    searchPlaceholder: "Buscar ...",
                    "paginate": {
                        "previous": "Anterior",
                        "next": "Siguiente",
                        "first": "Inicial",
                        "last": "Ultimo",

                    },
                    "lengthMenu": "Mostrando _MENU_ registros",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
               
                },
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;

                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                            i : 0;
                    };

                    // Total over all pages
                    total = api
                        .column(2)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total over this page
                    ejercido = api
                        .column(3)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);
                    // Total over this page
                    dif = api
                        .column(4)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer
                    $(api.column(2).footer()).html(
                        '$' + total.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")
                    );
                    $(api.column(3).footer()).html(
                        '$' + ejercido.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")
                    );
                    $(api.column(4).footer()).html(
                       '$' + dif.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")
                   );
                }

            });



            var table = $('#datatables').DataTable();


            $('.card .material-datatables label').addClass('form-group');




        });
     
        LlamarMovimientos(0);
        function LlamarMovimientos(v) {
            var Url = '@Url.Action("ListRubros", "Tableros")';
            $.ajax({
                cache: false,
                async: true,
                type: "GET",
                url: Url,
                data: { id: v },
                success: function (response) {

                    $('#gvRubros').html('');
                    try {
                        $('#gvRubros').html(response);
                    } catch (err) { }
                }
            });
            return false;
        }
        function CallChart(v) {
            var Url = '@Url.Action("RubrosBar", "Tableros")';
            $.ajax({
                type: "GET",
                url: Url,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: { id: v },
                success: function (chData) {
                    var aData = chData;
                    var aLabels = aData[0];
                    var aDatasets1 = aData[1];
                    var aDatasets2 = aData[2];
                    var aDatasets3 = aData[3];
                  
                    var aColors = aData[4];
                 
                    $('#porcent').html('');
                    $('#porcent').html(' <h4 class="card-title">Movimientos</h4>  <br /> <br /><canvas id="ChartBar"  ></canvas>');
                    var ctx = document.getElementById('ChartBar').getContext('2d'); 
                    var dtaset1 = {
                        label: 'Financiamiento',
                        data: aDatasets1,
                        backgroundColor: 'rgba(99, 132, 0, 0.6)'
                       
                    
                    };

                    var gravityData = {
                        label: 'Gasto',
                        data: aDatasets2,
                        backgroundColor: '#FF8000'
                    };
                    var gravityData2 = {
                        label: 'Diferencia',
                        data: aDatasets3,
                        backgroundColor: 'rgba(0, 99, 132, 0.6)'
                       
                    };
                   

                    var planetData = {
                        labels: aLabels,
                        datasets: [dtaset1, gravityData, gravityData2]
                    };
                    var chartOptions = {
                        responsive: true,
                        legend: { display: true },
                        tooltips: {
                            intersect: true,

                            callbacks: {

                                label: function (tooltipItem, data) {
                                    var label = data.datasets[tooltipItem.datasetIndex].label || '';
                                    var formatter = new Intl.NumberFormat('es-MX', {
                                        style: 'currency',
                                        currency: 'MXN',
                                        minimumFractionDigits: 2,
                                        // the default value for minimumFractionDigits depends on the currency
                                        // and is usually already 2
                                    });
                                    if (label) {
                                        label += ': ';
                                    }
                                    //console.log(data.datasets[tooltipItem.datasetIndex].label);
                                    label += formatter.format(data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index]);
                                    return label;
                                }
                            }
                        }
                    };

                    var barChart = new Chart(ctx, {
                        type: 'bar',
                        data: planetData,
                        options: chartOptions
                        
                    });
                }
            });
        }
        function PopupOnClosed() {

            $('#myModal').modal('hide');
            setTimeout(function () { window.location.href = '@Url.Action("LibSolicitado", "SolicitadoPor")'; }, 400);

        }
       

        function onBegin(respuesta) {
            console.log(respuesta + 'Bg');
        }
        function onSuccess(respuesta) {
            console.log(respuesta + 'Sc');
        }
        function onComplete(respuesta) {
            console.log(respuesta + 'Cm');
        }
        function onFailure(respuesta) {
            console.log(respuesta + 'Fl');
        }

    </script>
}
<div class="card" style="background-color:whitesmoke;">
    <div class="card-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="green">
                        <i class="material-icons">&#xE894;</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Proyectos</h4>
                        <div class="table-responsive table-sales">
                            <table id="datatables" class="table table-hover">
                                <thead class="text-danger">
                                    <tr>
                                        <td>Empresa</td>
                                        <td>Proyecto</td>
                                        <td>Financiamiento</td>
                                        <td>Ejercido</td>
                                        <td>Diferencia</td>
                                        <td>Fecha de incio</td>
                                        <td>Fecha de termino</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr onclick="LlamarMovimientos(@item.Id_Proyecto); CallChart(@item.Id_Proyecto);" >
                                            <td>@item.Razon_Social</td>
                                            <td>@item.Proyecto</td>
                                            <td>@item.Financiamiento.Value.ToString("c")</td>
                                            <td>@item.Gastado.Value.ToString("c")</td>
                                            <td>@item.Dif.Value.ToString("c")</td>
                                            <td>@(item.Fecha_Inicio.HasValue?item.Fecha_Inicio.Value.ToShortDateString():"")</td>
                                            <td>@(item.Fecha_Fin.HasValue?item.Fecha_Fin.Value.ToShortDateString():"")</td>
                                        </tr>

                                    }

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="2" style="text-align:right">Total:</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div id="gvRubros">

                </div>
            </div>
            <div class="col-sm-6">
                <div class="card"  style="height:585px;" >
                    <div class="card-header card-header-icon" data-background-color="green">
                        <i class="material-icons">&#xE894;</i>
                    </div>
                   
                    <div id="porcent" class="card-content"  style="height:585px;" >
                      
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
