@model Model.Ca_Pais

@{
    ViewBag.Title = "País";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="card ">
    <div class="card-header card-header-icon" data-background-color="rose">
        <i class="material-icons">flag</i>
    </div>

    <div class="card-content perfect-scrollbar-on" role="form">


        @using (Html.BeginForm("Save", "Pais", FormMethod.Post, new { id = "frm-pais" }))
        {
            @Html.HiddenFor(x => x.Id_Pais)
            <h4 class="card-title">País</h4>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">flag</i>
                </span>
                <div class="form-group">
                    <label for="Pais">País:</label>
                    @Html.TextBoxFor(x => x.Pais, new { @class = "form-control", @placeholder = "País" })
                    @Html.ValidationMessageFor(x => x.Pais, null, new { @class = "badge badge-danger" })
                </div>
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    Activo:
                </span>
                <div class="form-group">

                    <div class="togglebutton">
                        <label>
                            @Html.CheckBoxFor(x => x.Activo)
                        </label>
                    </div>

                </div>
            </div>

            <button type="submit" class="btn btn-fill btn-rose">
                Guardar
            </button>

        }
        <div>
            @Html.ActionLink("Regresar", "LibPais")
        </div>
    </div>
  

</div>
<div id="states">

</div>

@section Scripts{
    <script src="~/scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">
        
         @if (Model.Id_Pais > 0) {
             <text>

         CallPartialV();


             </text>

         }
       
      
        function llamarVistaParcial(v,y) {

            var laURLDeLaVista = '@Url.Action("EditEstado", "Pais")';
            $.ajax({
                cache: false,
                async: true,
                type: "GET",
                url: laURLDeLaVista,
                data: { id: v,idpais:y },
                success: function (response) {
                    $('#resultado').html('');
                    $('#resultado').html(response);
                }
            });

        }
        function PopupOnClosed() {

            $('#myModal').modal('hide');
             setTimeout(function () { window.location.href = '@Url.Action("EditPais/"+Model.Id_Pais, "Pais")'; }, 350);
           

        }
        function onBegin(respuesta) {
            console.log(respuesta + 'Bg');
        }
        function onSuccess(respuesta) {
            console.log(respuesta + 'Sc');
        }
        function onComplete(respuesta) {
            console.log(respuesta + 'Cm');
        }
        function onFailure(respuesta) {
            console.log(respuesta + 'Fl');
        }




    function CallPartialV() {

        try {
            $("#states").load('@Url.Content("~/Pais/EditEstados?id=" + Model.Id_Pais)');

        }
        catch (err) {
            console.log(err.message);
        }

    }


    </script>
}